body
{
 border:3px solid black;
 height:200vh;
 padding:15px;
}
header
{
    border:2px solid black;
    height:40px;
    padding:3px;
}
header div
{
    border:1px solid black;
    height:5vh;
    padding:2px;
    display: flex;
    justify-content:space-between;
}
header div div 
{
    border:1px solid red;

  
    width:150px;
    border-radius: 5px;
   

    
}
header div div a
{
 border: 1px solid black;
    width: inherit;
     display: flex;
     justify-content:center;
}
main
{
    border: 3px solid black;
    height:160vh;
    margin-top: 11px;
    padding: 5px;
}
main section
{
border:3px solid black;
display: flex;
padding:15px;
justify-content: center;
}
#first-section div
{
    border: 3px solid black;
    
}